@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
	font-family: 'Inter';
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
