@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin circle($circleSize) {
	width: $circleSize;
	height: $circleSize;
	border-radius: $circleSize/2;
}

* {
	font-family: "Inter", "Proxima Nova", sans-serif;
}

button:focus,
a:focus,
select:focus {
	outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

::-webkit-scrollbar {
	cursor: pointer;
	width: 16px;
}

::-webkit-scrollbar-thumb {
	background: rgba(94, 114, 136, 0.15);
	border: 4px solid rgba(0, 0, 0, 0);
	border-radius: 10px;
	transition: all ease-in-out 250ms;
	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	background: none;
}

.w-fit-content {
	width: fit-content;
}

.min-w-20-rem {
	min-width: 20rem;
}

.min-w-40-rem {
	min-width: 40rem;
}

.min-w-65-rem {
	min-width: 65rem;
}

.min-w-max-content {
	min-width: max-content;
}

.max-w-fit-content {
	max-width: fit-content;
}

.max-w-48-rem {
	max-width: 48rem;
}

.max-w-65-rem {
	max-width: 65rem;
}

.min-h-12-rem {
	min-height: 12rem;
}

.min-h-26-rem {
	min-height: 26rem;
}

.min-h-full {
	min-width: 100%;
}

.max-h-25-rem {
	max-height: 25rem;
}

.h-fit-content {
	height: fit-content;
}

.w-80 {
	width: 20rem;
}

.fade-top {
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgb(255, 255, 255),
		rgb(255, 255, 255) 85%
	);
}

.semi-heading {
	font-weight: 600;
	font-size: 18px;
	color: #35475c;
}

.big-heading {
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	color: #35475c;
}

.-z-index-1 {
	z-index: -10;
}
.-z-index-bg {
	z-index: -9999999;
}

.text-xxs {
	font-size: 0.5rem;
}

.confirm {
	height: 51px;
	width: 180px;
	margin: 7px;
}

.mt-40 {
	margin-top: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.border-solid-1 {
	border: 1px solid;
}

.shadow-teal {
	filter: drop-shadow(0px 4px 24px rgba(43, 202, 202, 0.25));
}

.shadow-custom {
	box-shadow: 0px 4px 20px rgba(53, 71, 92, 0.06);
}

.white-space-nowrap {
	white-space: nowrap;
	overflow: hidden;
}

.top-25-vh {
	top: 25vh;
}

.text-tweet {
	color: #1da1f2;
	font-size: 16px;
	line-height: 150%;
	font-weight: 600;
	align-items: center;
}

.claim-rewards {
	background: #f6fbff;
	border-radius: 8px;
	padding: 1rem 3rem 1rem 3rem;
}

.left-50 {
	left: 50%;
}

.header a {
	text-decoration: none;
}

.bg-landing {
	background-image: url(../public/images/landing-bg.svg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.pulse-box {
	background: rgba(255, 27, 32, 1);
	border-radius: 50%;
	height: 8px;
	width: 8px;
}

.blob.red {
	background: rgba(255, 82, 82, 1);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
	border-radius: 50%;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.documentation {
	margin: 4rem;
	max-width: 960px;
	h1 {
		font-size: 1.25vw;
		font-weight: 700;
		margin-top: 2rem;
		margin-bottom: 1rem;
		&.heading {
			font-size: 1.75vw;
		}
	}
	h3 {
		font-size: 1vw;
		font-weight: 600;
		margin-top: 1.5rem;
		margin-bottom: 0.75rem;
	}
	p {
		margin-bottom: 1rem;
	}
	a {
		text-decoration: underline;
	}
	ul {
		list-style-position: outside;
		padding-left: 2rem;
		li {
			list-style-type: initial;
			margin-bottom: 1rem;
		}
	}
}
.loader {
	position: absolute;
	content: "";
	top: calc(50% - 2.5rem);
	left: calc(50% - 2.5rem);
	width: 5rem;
	height: 5rem;
	border: 5px solid #eee;
	border-radius: 50%;
	overflow: hidden;
	transition: 0.3s;
	/* box-shadow: 0rem 0rem 0.6rem rgba(0,0,0,0.3); */
	animation: spin 1s linear infinite;
}
.success {
	background: #2bcaca;
	border-color: #2bcaca;
}
.fail {
	background: #f96c6f;
	border-color: #f96c6f;
}
.loader.success {
	&::before {
		height: 7px;
		width: 2.5rem;
		position: absolute;
		top: 65%;
		left: 44%;
		background-color: white;
		transform: rotate(-45deg);
		transform-origin: 0% 50%;
		border-radius: 5px;
		animation: baseGrow 1s;
		content: "";
	}

	&::after {
		height: 7px;
		width: 1.5rem;
		position: absolute;
		top: 65%;
		left: 50%;
		background-color: white;
		transform: rotate(-135deg);
		transform-origin: 0% 50%;
		border-radius: 5px;
		animation: tipGrow 1s;
		content: "";
	}
}
.loader.fail {
	&::before {
		width: 3rem;
		height: 0.5rem;
		background: white;
		transform-origin: 50% 50%;
		top: calc(50% - 0.25rem);
		left: calc(50% - 1.5rem);
		transform: rotate(45deg);
		position: absolute;
		content: "";
		border-radius: 10px;
		animation: leftIn 0.3s linear;
		content: "";
	}

	&::after {
		width: 3rem;
		height: 0.5rem;
		background: white;
		transform-origin: 50% 50%;
		top: calc(50% - 0.25rem);
		right: calc(50% - 1.5rem);
		transform: rotate(-45deg);
		position: absolute;
		content: "";
		border-radius: 10px;
		animation: rightIn 0.3s linear;
		content: "";
	}
}
.loader.success,
.loader.fail {
	animation: pop 1.2s ease-in-out;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
		border-top: 5px solid #2bcaca;
	}
	100% {
		transform: rotate(360deg);
		border-top: 5px solid #2bcaca;
	}
}

@keyframes tipGrow {
	0% {
		width: 0px;
		left: 0;
		top: 0;
	}
	25% {
		width: 0px;
		left: 0;
		top: 0;
	}
	50% {
		top: 0%;
		left: 0%;
		width: 0;
	}
	75% {
		top: 0%;
		left: 0%;
		width: 0rem;
	}
	100% {
		top: 65%;
		left: 50%;
		width: 1.5rem;
	}
}

@keyframes baseGrow {
	0% {
		width: 0;
	}
	90% {
		width: 0;
	}
	100% {
		width: 2.5rem;
	}
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	80% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

@keyframes leftIn {
	0% {
		left: 0;
		top: 0;
		width: 0;
	}
	100% {
		top: calc(50% - 0.25rem);
		left: calc(50% - 1.5rem);
		width: 3rem;
	}
}

@keyframes rightIn {
	0% {
		rigth: 0;
		top: 0;
		width: 0;
	}
	100% {
		top: calc(50% - 0.25rem);
		right: calc(50% - 1.5rem);
		width: 3rem;
	}
}
